#header{
    background-color: rgb(229, 190, 145);
}
#menu{
    background-color: rgb(216, 167, 167);
}
#content{
    background-color: rgb(230, 205, 172);

}
#footer{
    background-color: rgb(110, 110, 110);
}
